body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container-header {
    background-color: white;
    height: 63px;
    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
    width: 100%;
}

.container-header a{
    float: left;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    height: 32px;
    line-height: 35px;
}

.container-header .icon {
    display: none;
}

.container-header img {

    margin-left: 20px;
    height: 35px;
    position: relative;
    padding-right: 20px;
    float: left;
}

.container-header a:hover:not(:first-child) {
    border-bottom: 2px solid black;
}

/* Scroll up and Scroll down class CSS */

.nav-up {
    top: -63px;
}


/* =================
🔹 RESPONSIVE MENU 🔹 
==================*/

@media screen and (max-width: 800px) {
    .container-header a {
        display: none;
    }

    .container-header a.icon {
        float: left;
        display: block;
    }
}

@media screen and (max-width: 800px) {
    .container-header.responsive {
        position: relative;
    }

    .container-header.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .container-header.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

/* =================
🔸 ScrollBar CSS🔸
==================*/

/* width */
/*
::-webkit-scrollbar {
    width: 10px;
  } */
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


/* =================
	🔸 TESTS🔸
==================*/

.main-content{
    margin-top: 63px;
}


.content-wrapper{
    background-image: url("../images/slider.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 600px;
}

#curtain {
    background: rgba(0,0,0,0.48);
    position: fixed; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: auto;
    z-index: 9998;
    margin-top: 63px;
}

/*

/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    width: 100%;
    background-color: white;
    height: 450px;
    display: none;
    margin-top: 63px;
    position: static;
    border-top: 1px solid rgba(214, 212, 212);
  }
  
  /* Show the dropdown menu on hover */
  #menu a:hover:not(.icon):not(#brand-logo) ~ .dropdown-content {display: block; position: absolute;} 
  /*#menu:hover .dropdown-content {display: block;} */

  .dropdown-content:hover{
      display: block;
      position: absolute;
  }
  






